@keyframes brillar {
    0% { text-shadow: 0 0 5px #8d24aa8a, 0 0 10px #8d24aa8a, 0 0 15px #8d24aa80, 0 0 20px #8d24aa8e; }
    50% { text-shadow: 0 0 20px #c825d081, 0 0 30px #c825d086, 0 0 40px #c825d098, 0 0 50px #c825d0a4; }
    100% { text-shadow: 0 0 5px #8d24aa7e, 0 0 10px #8d24aa77, 0 0 15px #8d24aa85, 0 0 20px #8d24aa83; }
  }
  
  h1 {
    font-family: 'Iceberg', sans-serif;
    font-style: normal;
    text-align: center;
    font-size: 75px;
    color: #8d24aab4;
    text-shadow: 0 0 5px #8d24aa8f, 0 0 10px #8d24aaa1, 0 0 15px #8d24aaa9, 0 0 20px #8d24aa7c;
    animation: brillar 3s ease-in-out infinite;
  } 

  body {
    background-color: black
  }

  #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  h2 {
    color: rgb(107, 11, 136);
    text-decoration: none;
    border-radius: 0px;
    border: 0px;
    font-family: Iceland;
    font-size: 30px;
    margin: 0px auto;
    text-shadow: 2px 4px 6px rgb(138, 53, 218);
    animation: a 3s linear infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: a;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
  }